.item-box{
    display: flex;
    flex-direction: column;
    width: 15vw;
    margin: 1vw;
    background-color: var(--ItemBoxColor);
    border-radius: 10px;
    overflow: hidden;
    padding: 1%;
}

.item-img{
    width: 100%;
}

.item-box-img{
    width: 100%;
    height: 50%;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-button{
    display: inline;
    margin: 1%;
    font-size: medium;
    display: flex;
    background-color: var(--BotonMenuColor);
    border: 0;
    border-radius: 10px;
    justify-content: center;
}

.item-button:hover{
    background-color: var(--BotonMenuColorHobber);
    transition: all 50ms ease-out;
}

.item-txt{
    margin-bottom: 1%;
    font-size: 100%;
    font-weight: 600;
    display: flex;
    align-items: center;

}

h3{
    height: auto;
    margin: 3% 0;
    display: flex;
    align-items: center;
}

.item-txt-bot{
    font-family: "Quicksand", serif;
}


.item-zona{
    height: 2vh;
    display: flex;
    align-items: center;
    margin: 5% 0;
}
.item-gps-icon{
    height: 100%;
    margin-right: 5%;

}

.item-zona-txt{
    font-size: 100%;
    font-weight: 600;
}