
.item-box-carrito{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 98%;
    height: 12vh;
    margin-bottom: 2%;
    background-color: var(--ItemBoxColor);
    border-radius: 10px;
    overflow: hidden;
    padding: 1%;
    border: 1px solid black;
}

.item-img-carrito{
    width: 100%;
}

.item-box-img-carrito{
    width: 10%;
    height: 12vh;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-button-carrito{
    display: flex;
    justify-content: end;
    width: 12%;

}

.item-txt-carrito{
    height: 12vh;
    width: 10%;
    font-size: 80%;
    font-weight: 600;
    display: flex;
    align-items: center;
    margin-right: 1%;

}

.item-title-carrito{
    height: 12vh;
    height: auto;
    width: 30%;
    margin: 0 1%;
    display: flex;
    align-items: center;
}


.item-zona-carrito{
    height: 12vh;
    width: 10%;
    display: flex;
    align-items: center;
    margin-right: 1%;
}

.item-gps-icon-carrito{
    height: 15%;
    margin-right: 5%;
}

.item-zona-txt-carrito{
    
    font-size: 80%;
    font-weight: 600;
}