.titulo-header{
    display: flex;
    position: fixed;
    left: 2%;
}

.img-header{
    width: 2vw;
    position: fixed;
    right: 2%;
}

.header{
    height: 8vh;
    background-color:var(--fondoHeader);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    position: sticky;
    top: 0%;
    border-bottom: 1px solid var(--secundario);
}