.titulo-header{
    display: flex;
    position: fixed;
    left: 2%;
}

.img-header{
    width: 4.5vh;

}


.img-header-box{

    width: 8vh;
    height: 8vh;
    padding: 0vh;
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;


}

.img-header-box::before{
    
    content: "";
    opacity: 30%;
    background-color: var(--secundario);
    width: 7vh;
    height: 7vh;
    position: absolute;
    right: 0.5vh;
    top: 0.5vh;
    border-radius: 100%;

}

.header{
    height: 8vh;
    background-color:var(--fondoHeader);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0%;
    position: sticky;
    top: 0%;
    border-bottom: 1px solid var(--secundario);
}