.item-detail-box{

    width: 80vw;
    margin: 10vh 10vw;
    padding: 1vh;
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 6vh 4vh 4vh 30vh auto 10vh;
    grid-template-areas:
    'foto nombre'
    'foto info1'
    'foto precio'
    'foto info2'
    'sep sep'
    'datos back';

    background-color:  var(--ItemDetailColor);
    border-radius: 10px;

}

.item-detail-sep{
    grid-area: sep;
    margin: 3vh;
    height: 0;
    border: 1px solid rgb(141, 132, 132);
}

.item-detail-img{
    height: 100%;
    border-radius: 10px;
}

.item-detail-box-img{
    margin: 1vh;
    grid-area: foto;
    border-radius: 10px;
    width: auto;
    height: auto;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;

}

.conteiner-button{
    grid-area: back;
    width: 100%;
    margin: 0vh 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.item-detail-button{
    font-size: medium;

    background-color: var(--BotonMenuColor);
    border: 0;
    border-radius: 10px;
    
}

.item-detail-button:hover{
    background-color: var(--BotonMenuColorHobber);
    transition: all 50ms ease-out;
}

.item-detail-info1{
    grid-area: info1;
    margin: 0;
    padding: 1%;

}

.item-detail-info2{
    grid-area: info2;
    margin: 3vh 0%;
    padding: 1%;
    font-size: 110%;

}

.item-detail-datos-conteiner{
    border: 2px solid var(--DatosDetail);
    border-radius: 20px;
    grid-area: datos;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 105%;
}

.item-detail-datos{
    margin: 0;
    padding: 1%;
}

.item-detail-precio{
    grid-area: precio;
    margin: 0;
    padding: 1%;
    font-size: 110%;
    font-weight: 600;

}

h4{
    grid-area: nombre;
    font-size: 200%;
    margin: 0;
    padding: 1%;
}

.boton-carrito{
    display: inline;
    margin: 1%;
    font-size: medium;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--BotonMenuColor);
    border: 0;
    border-radius: 10px;
    font-family: "Quicksand", serif;
    padding: 2%;
    height: auto;
}

.boton-carrito:hover{
    background-color: var(--BotonMenuColorHobber);
    transition: all 50ms ease-out;
}