.item-detail-box{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 80vw;
    margin: 10vw;
    /* background-color: var(--ItemBoxColor); */
    border-radius: 10px;
    overflow: hidden;

}

.item-detail-img{
    width: 100%;
}

.item-detail-box-img{
    width: 30vw;
    height: 20vw;
    overflow: hidden;
    border-radius: 10px;
}

.item-detail-button{
    display: inline;
    margin: 1%;
    font-size: medium;
    display: flex;
    background-color: var(--BotonMenuColor);
    border: 0;
    border-radius: 10px;
    justify-content: center;
}

.item-detail-button:hover{
    background-color: var(--BotonMenuColorHobber);
    transition: all 50ms ease-out;
}

.item-detail-txt{
    margin: 2% 0;
}

h4{
    margin: 2% 0;
}